body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100%;
}

.loader {
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
}

.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url("./image/logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  animation: loader 2s infinite linear;
}

@keyframes loader {
  0% {
    transform:rotate(0deg)
  }
  50%{
    transform:rotate(180deg)
  }
  100%{
    transform:rotate(360deg)
  }
}